<!DOCTYPE html>
<html>
  <head>
    <title>DocumentsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col col-md-12 text-center">
          <h1>Personal Document App</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-5 text-center">
          <a href="/documents"> <h2>Documents</h2></a>
        </div>
        <div class="col col-md-2 text-center">
            <h2>|</h2>
        </div>
        <div class="col col-md-5 text-center">
          <a href="/documents"> <h2>Tasks</h2></a>
        </div>
      </div>
      <br>
      <div class="col col-md-12">
        <%= link_to '+ New Document', new_document_path %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
