<!DOCTYPE html>
<html>
  <head>
    <title>DocumentsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col col-md-12 text-center">
          <h1>Personal Document App</h1>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <% if user_signed_in? %>
            <p>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </p>
          <% else %>
            <p>
            <%= link_to('Login', new_user_session_path)  %>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% if user_signed_in? %>

    <div class="container">
      <div class="row">
        <div class="col col-md-12 text-center">
          <ul class="nav nav-tabs">
            <li class="nav-item col-md-6">
              <a class="nav-link active" href="/documents">Documents</a>
            </li>
            <li class="nav-item col-md-6">
              <a class="nav-link" href="/tasks">Task</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>
